<h2>{{title}}</h2>
<div class="auth-form">
    <form action="/auth" method="post">
        <input type="text" name="username" class="input user" placeholder="логин"></br>
        <input type="password" name="password" class="input password" placeholder="пароль"></br>
        <button type="submit">Войти</button>
    </form>
</div>